.container-fluid {
  max-width: 1200px;
  margin: auto;
  font-family: Liberation Sans, "Helvetica Neue";
  letter-spacing: 0.075em;
}

/*
header
*/

#topHeader {
  height: 60px;
  background-color: #3a3939;
}

#navText {
  color: #f3f3f3;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

#navText:hover {
  text-decoration: underline;
}

.mainHeader {
  background-color: #ffffff;
}

/*
carousel 
*/

.img {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carouselCaption {
  padding-bottom: 580px;
}

#carouselCaptionH1 {
  padding-bottom: 0px;
  font-size: 40px;
}

#carouselCaptionP {
  font-size: 14px;
  line-height: 16px;
}

/* 
Sluzby
*/

#sluzby {
  padding-bottom: 100px;
  padding-top: 120px;
}

#headingH2 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hr {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  opacity: 1;
}

/*
gallery
*/

.hrGallery {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  opacity: 1;
}

#galleryHeading {
  margin-bottom: 20px;
}

#gallery {
  padding: 90px;
}

#downImage {
  margin-bottom: 50px;
}

.imgG {
  transition: 2s ease-out;
}

.imgG:hover {
  filter: grayscale();
  transition: 2s ease-in;
}

/*
generalka
*/

#generalka {
  padding-top: 50px;
}

#generalis {
  padding-bottom: 30px;
  padding-top: 30px;
}

/* CSS */
#carouselButton {
  align-items: center;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  color: #f3f3f3;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 26px;
  font-weight: 400;
  height: 60px;
  width: 220px;
  justify-content: center;
  letter-spacing: 5px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#carouselButton:focus {
  color: #f3f3f3;
}

#carouselButton:hover {
  border-color: #337ab7;
  color: #337ab7;
  fill: #fb8754;
}

@media (min-width: 768px) {
  #carouselButton {
    min-width: 170px;
  }
}

/*
footer
*/

#footer {
  background-color: #3a3939;
  margin-top: -30px;
  margin-bottom: 20px;
}

#footerText {
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  font-size: 15px;
}

#footerTextLeft {
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  font-size: 15px;
  text-align: left;
}

#footerTextRight {
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  font-size: 15px;
  text-align: right;
}

#footerSources {
  color: #f3f3f3;
  text-decoration: none;
}

#footerSources:hover {
  color: #fb8754;
  text-decoration: underline;
}
